.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.productoCard{
    margin-bottom: 30px;
    width: 75%;
    text-align-last: center;
    text-align: -webkit-center;
    padding: 35px 0;
    border: 1px solid cadetblue;
    box-shadow: 5px 5px rgba(95, 158, 160, 0.12);
}

.imagenProducto{
    width: 160px;
}

.btnDetallesProd{
    background: white;
    border: none;
    border: 1px solid cadetblue;
    border-radius: 8px;
    height: 25px;
    cursor: pointer;
    color: cadetblue;
}