.listaCarrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-carrito{
    width: 70px;
}

.btnDeleteProduct{
    cursor: pointer;
}

.cartContainer{
    text-align: center;
}

.vaciarCarritoBtn{
    margin-right: 10px;
}

.finalizarBtn{
    margin-right: 10px;
}

strong{
    color: cadetblue;
}

.volverForm{
    margin: 15px;
}
